<!-- views/profile.ejs -->
<!doctype html>
<html>
	<head>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script>
			$('#edit').on('show.bs.modal', function(e) {
					console.log("testetete");
			});

	$(".modal-dialog").click(function() {
    var $row = $(this).closest("tr");    // Find the row
    var $text = $row.find(".mva").text(); // Find the text

    // Let's test it out
    alert($text);
});


$('#myTable > tr').click(function() {
    // row was clicked
		alert("rowclicked");
});

$('#edit').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-body input').val(recipient)
})

$('#deleteButton').click(function(){
	$.post('')
});

$('#deleteButton').click(function(){
	$.post('')
});


		</script>
		<% include header.ejs %>
	</head>

<div class="container">


	<div class="text-center">
		<h1><span class="fa fa-road"></span> Liste de véhicules</h1>
		<br>
  </div>

	<table  data-toggle="table" id="myTable" data-toggle="table" data-pagination="true" data-search="true" data-height="400" data-page-list="[5, 10, 20, 50, 100, 200]">
		<div class="text-center">
			<tr>
			<th data-field="MVA">MVA</th>
			<th data-field="Immatriculation" data-sortable="true">Immatriculation</th>
			<th data-field="Lieu actuel" data-sortable="true">Lieu actuel</th>
			<th data-field="Statut" data-sortable="true">Statut</th>
			<th data-field="Station départ" data-sortable="true">Station départ</th>
			<th data-field="Station retour" data-sortable="true">Station retour</th>
			<th data-field="Date départ" data-sortable="true">Date départ</th>
			<th data-field="Date retour" data-sortable="true">Date retour</th>
			<th data-field="Numéro contrat" data-sortable="true">Numéro contrat</th>
			<th data-field="Marque" data-sortable="true">Marque</th>
			<th data-field="Libellé modèle" data-sortable="true">Libellé modèle</th>

			</tr>
	</div>
		<% rowsv.forEach(function(vehicules){ %>
			<tr onclick="input" data-toggle="modal" data-target="#edit" data-whatever="<%=vehicules.MVA%>" >
				<td class="mva"> <%=vehicules.MVA%> </td>
				<td> <%=vehicules.IMMAT%></td>
				<td> <%=vehicules.CURRENT_LOCATION_STN%></td>
				<td> <%=vehicules.STATUT%></td>
				<td> <%=vehicules.STATION_DEPART%></td>
				<td> <%=vehicules.STATION_RETOUR%></td>
				<td> <%=vehicules.DATE_DEPART%></td>
				<td> <%=vehicules.DATE_RETOUR%></td>
				<td> <%=vehicules.NUMERO_CONTRAT%></td>
				<td> <%=vehicules.marque%></td>
				<td> <%=vehicules.libell_mod_le%></td>
				<td>
					<p data-placement="top" data-toggle="s" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
				</td>
				<td>
					<p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p>
				</td>


			</tr>
			<%})%>
	</table>



	<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
	      <div class="modal-dialog">
	    <div class="modal-content">
	          <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
	        <h4 class="modal-title custom_align" id="Heading">Modifier les éléments d'un véhicule </h4>
	      </div>
	          <div class="modal-body">
	          <div class="form-group">
	        <input class="form-control " type="text" placeholder="MVA" value="">
	        </div>
	        <div class="form-group">

	        <input class="form-control " type="text" placeholder="Agence">
	        </div>
	        <div class="form-group">
	        <textarea rows="2" class="form-control" placeholder="Commentaire : "></textarea>


	        </div>
	      </div>
	          <div class="modal-footer ">
	        <button type="button" class="btn btn-warning btn-lg" style="width: 100%;" id="editButton"><span class="glyphicon glyphicon-ok-sign"></span> Mettre à jour </button>
	      </div>
	        </div>
	    <!-- /.modal-content -->
	  </div>
	      <!-- /.modal-dialog -->
	    </div>



	    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
	      <div class="modal-dialog">
	    <div class="modal-content">
	          <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
	        <h4 class="modal-title custom_align" id="Heading"> Supprimer cette entrée </h4>
	      </div>
	          <div class="modal-body">

	       <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Etes-vous sûr de vouloir supprimer ce véhicule (ou cette tâche, info etc...) </div>

	      </div>
	        <div class="modal-footer ">
	        <button type="button" class="btn btn-success" id="deleteButton" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
	      </div>
	        </div>
	    <!-- /.modal-content -->
	  </div>
	      <!-- /.modal-dialog -->
	    </div>

</div>

</body>
</html>
