<!-- views/profile.ejs -->
<!doctype html>
<html>
	<head>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script>
			$('#edit').on('show.bs.modal', function(e) {
					console.log("testetete");
			});

	$(".modal-dialog").click(function() {
    var $row = $(this).closest("tr");    // Find the row
    var $text = $row.find(".mva").text(); // Find the text

    // Let's test it out
    alert($text);
});


$('#myTable > tr').click(function() {
    // row was clicked
		alert("rowclicked");
});

$('#edit').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-body input').val(recipient)
})

$('#deleteButton').click(function(){
	$.post('')
});

$('#deleteButton').click(function(){
	$.post('')
});


		</script>
		<% include header.ejs %>
	</head>

<div class="container">


	<div class="text-center">
		<h1><span class="fa fa-road"></span> Liste de véhicules</h1>
		<br>
  </div>

	<table  data-toggle="table" id="myTable" data-toggle="table" data-pagination="true" data-search="true" data-height="400" data-page-list="[5, 10, 20, 50, 100, 200]">
		<div class="text-center">
			<tr>
			<th data-field="MVA">MVA</th>
			<th data-field="Immatriculation" data-sortable="true">Immatriculation</th>
			<th data-field="Lieu actuel" data-sortable="true">Lieu actuel</th>
			<th data-field="Statut" data-sortable="true">Statut</th>
			<th data-field="Station départ" data-sortable="true">Station départ</th>
			<th data-field="Station retour" data-sortable="true">Station retour</th>
			<th data-field="Date départ" data-sortable="true">Date départ</th>
			<th data-field="Date retour" data-sortable="true">Date retour</th>
			<th data-field="Numéro contrat" data-sortable="true">Numéro contrat</th>
			<th data-field="Marque" data-sortable="true">Marque</th>
			<th data-field="Libellé modèle" data-sortable="true">Libellé modèle</th>

			</tr>
	</div>
		<% rowsv.forEach(function(vehicules){ %>
			<tr onclick="input" data-toggle="modal" data-target="#edit" data-whatever="<%=vehicules.MVA%>" >
				<td class="mva"> <%=vehicules.MVA%> </td>
				<td> <%=vehicules.IMMAT%></td>
				<td> <%=vehicules.CURRENT_LOCATION_STN%></td>
				<td> <%=vehicules.STATUT%></td>
				<td> <%=vehicules.STATION_DEPART%></td>
				<td> <%=vehicules.STATION_RETOUR%></td>
				<td> <%=vehicules.DATE_DEPART%></td>
				<td> <%=vehicules.DATE_RETOUR%></td>
				<td> <%=vehicules.NUMERO_CONTRAT%></td>
				<td> <%=vehicules.marque%></td>
				<td> <%=vehicules.libell_mod_le%></td>
				<td>
			</tr>
			<%})%>
	</table>

</div>

</body>
</html>
