<!-- views/agence.ejs -->
<!doctype html>
<html>
	<head>
		<% include header0.ejs %>
    		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</head>
<body>


<div class="container text-center">

	<br><br>
	<h1><span class="fa fa-home"></span><b> Liste des agences </b></h1>

    <br><br>

  <table  class = "table table-hover table-bordered text-center">
    <div class="text-center">
      <tr>
      <th>id agence</th>
      <th>Nom agence</th>
			<th>Code site 1</th>
      <th>Code site 2</th>
      <th>Code site 3</th>
      <th>Code site 4</th>
      <th>Code site 5</th>


      </tr>
  </div>
    <% rows.forEach(function(agences){ %>
      <tr>
        <td> <%=agences.idAgence%></td>
        <td> <%=agences.nom%></td>
				<td> <%=agences.code1%></td>
        <td> <%=agences.code2%></td>
        <td> <%=agences.code3%></td>
        <td> <%=agences.code4%></td>
        <td> <%=agences.code5%></td>

      </tr>
      <%})%>
  </table>



</div>


</body>
</html>
