<!doctype html>
<html>
  <head>
    <% include header0.ejs %>
    <link href="docs/css/bootstrap.min.css" rel="stylesheet">
    <link href="docs/css/highlight.css" rel="stylesheet">
    <link href="http://getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">
    <link href="docs/css/main.css" rel="stylesheet">
    <!--Scripts-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  </head>

  <!--Body-->

  <body>


  <div class="container">
            <br>
              <div class="text-center">
                <h2><span class="glyphicon glyphicon-list"></span> Historique F44 </h2>
                <br>
              </div>
            <br>

<table  class = "table table-bordered " id="myTable">

        <tr>
        <th> Numéro F44</th>
        <th> MVA</th>
        <th> Immatriculation</th>
        <th> Aspiration Intérieur</th>
        <th> Lavage extérieur</th>
        <th> Nettoyage Vitre</th>
        <th> Nettoyage Parebrise Intérieur</P></th>
        <th> Niveau Huile</th>
        <th> Niveau Lave Glace</th>
        <th> Pression Pneus</th>
        <th> Contrôle Carosserie</th>
        <th> Contrôle Intérieur</th>
        <th> Remplissage Carburant</th>
        <th> Nom Opérateur</th>
        </tr>
    </div>
      <% rows.forEach(function(f44){ %>
        <tr >
          <td ><%=f44.Numero%>  </span> </td>
          <td ><%=f44.mva%>  </span> </td>
          <td><%=f44.immat%> </span>  </td>
          <td><%=f44.aspiration_interieur ? 'Faite' : 'A Faire' %>  </span>  </td>
          <td><%=f44.lavage_exterieur ? 'Faite' : 'A Faire'%> </span>  </td>
          <td><%=f44.nettoyage_vitre ? 'Faite' : 'A Faire' %> </span>  </td>
          <td><%=f44.nettoyage_parebrise_interieur ? 'Faite' : 'A Faire' %> </span>  </td>
          <td> <%=f44.niveau_huile ? 'Faite' : 'A Faire' %> </span>  </td>
          <td><%=f44.niveau_lave_glace ? 'Faite' : 'A Faire' %> </span>  </td>
          <td> <%=f44.pression_pneus ? 'Faite' : 'A Faire' %> </span>  </td>
          <td><%=f44.controle_carosserie ? 'Faite' : 'A Faire' %> </span>  </td>
          <td><%=f44.controle_interieur ? 'Faite' : 'A Faire' %> </span>  </td>
          <td><%=f44.remplissage_carburant ? 'Faite' : 'A Faire' %> </span>  </td>
          <td><%=f44.nomOperateur? 'Faite' : 'A Faire' %> </span>  </td>

        </tr>

        <%})%>
    </table>
    <br>

</div>




    <script src="docs/js/highlight.js"></script>
    <script src="docs/js/main.js"></script>


  </body>
</html>
