<!-- views/profile.ejs -->
<!doctype html>
<html>
	<head>
        <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<% include header.ejs %>
	</head>

<div class="container">
	<div class="text-center">
		<h1><span class="fa fa-home"></span> Bienvenue, <%=user.username%></h1>
		<br>
  	</div>
</div>

<div class="container text-center">

	<br><br>
	<h1><span class="fa fa-refresh"></span><b> Travail à accomplir :  </b></h1>

    <br><br>

  <table  class = "table table-hover table-bordered text-center">
    <div class="text-center">
      <tr>
      <th>id assignation</th>
      <th>Immat</th>
      <th>Date prévue</th>
			<th>Etat</th>
			<th>Chargé du travail</th>
			<th>Assignation faite par </th>
      <th>Type </th>

      </tr>
  </div>
    <% rows.forEach(function(recup){ %>
      <tr>
        <td> <%=recup.id_tache%></td>
        <td> <%=recup.immat%></td>
				<td> <%=recup.prev_date%></td>
				<td> <%=recup.accompli ? 'Fait' : 'Non fait'%></td>
				<td> <%=recup.nomOperateur%></td>
				<td> <%=recup.assigne_par%></td>
        <td><a href="/accomplish_task?type=<%=recup.type%>&immat=<%=recup.immat%>" title="accomplir un travail"><button  type="button" class="btn btn-info"><%=recup.type%></button></a></td>

      </tr>
      <%})%>
  </table>

</div>

</body>



</html>
