<!-- views/transfert_vehicule.ejs -->
<!doctype html>
<html>
	<head>
		<% include header.ejs %>
	</head>

<div class="container">


	<div class="text-center">
		<h1><span class="fa fa-road"></span> Liste des véhicules à transférer</h1>
		<br>
  </div>

	<table  class = "table table-hover table-bordered text-center">
		<div class="text-center">
			<tr>
			<th> MVA</th>
			<th> Immatriculation</th>
			<th> Lieu actuel</th>
			<th> Statut</th>
			<th> Station départ</th>
			<th> Station retour</th>
			<th> Date départ</th>
			<th> Date retour</th>
			<th> Numéro contrat</th>
			<th> Marque</th>
			<th> Libellé modèle</th>

			</tr>
	</div>
		<% rowsv.forEach(function(vehicules){ %>
			<tr>
				<td> <%=vehicules.MVA%> </td>
				<td> <%=vehicules.IMMAT%></td>
				<td> <%=vehicules.CURRENT_LOCATION_STN%></td>
				<td> <%=vehicules.STATUT%></td>
				<td> <%=vehicules.STATION_DEPART%></td>
				<td> <%=vehicules.STATION_RETOUR%></td>
				<td> <%=vehicules.DATE_DEPART%></td>
				<td> <%=vehicules.DATE_RETOUR%></td>
				<td> <%=vehicules.NUMERO_CONTRAT%></td>
				<td> <%=vehicules.marque%></td>
				<td> <%=vehicules.libell_mod_le%></td>
				
			</tr>
			<%})%>
	</table>


</div>

</body>
</html>
